---
---
<div class="nav-links">
  <a href={new URL('', Astro.url)}>ホーム</a>
  <a href={new URL('life', Astro.url)}>暮らし・手続き</a>
  <a href={new URL('health', Astro.url)}>健康・福祉</a>
  <a href={new URL('kyoiku', Astro.url)}>子育て・教育</a>
  <!-- <a href="/machi">まち案内</a> -->
</div>